<app-loader [totalRecords]="ArrayCSVCount" [completedRecords]="ArrayCSV.length" [loaderMessage]="loaderMessage">
</app-loader>
<div fxLayout.lg="row" fxLayout.xl="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
	fxLayoutAlign.sm="space-between center" fxLayoutAlign.md="space-between center"
	fxLayoutAlign.lg="space-between center" fxLayoutAlign.xl="space-between center">
	<div fxLayout.xs="column" fxLayoutAlign.lg="space-between center" fxLayoutAlign.xl="space-between center"
		fxLayoutAlign.sm="space-between center" fxLayoutAlign.md="space-between center" fxFlex.lg="40" fxFlex.sm="55"
		fxFlex.md="40" fxFlex.xl="50">
		<span style="font-size: 19px;line-height: 36px;font-weight: 600;">Balance Transactions</span>
		<button mat-raised-button color="accent" fxFlex="33" style="border-radius: 20px; height: 34px;"
			(click)="onExportCSV()">Export CSV</button>
	</div>
	<div fxFlexOffset.xs="4" fxLayout="row" fxFlex="30" fxLayoutAlign.lg="space-between center"
		>
		<span style="cursor: pointer; height: 34px;" (click)="getTransactionList(1)" class="input-group-addon"
			fxFlex.lg="10" fxLayoutAlign="center center">
			<i class="glyphicon glyphicon-search"></i>
		</span>
		<input autocomplete="false" type="text" maxlength="50" class="form-control" placeholder="Search"
			[(ngModel)]="search" (keyup)="onSearch()">
	</div>
</div>
<base-loader>
	<div class="data-table">
		<table class="table table-responsive table-striped" style="width: 100%; margin-top: 18px">
			<thead>
				<tr>
					<th class="w-auto">Transaction ID</th>
					<th>Phone</th>
					<th>Transaction</th>
					<th>Type</th>
					<th>Amount (QAR)</th>
					<th>Transactions Date</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let tran of tranactionList">
					<td class="w-auto">{{tran.id ? tran.id: 'N/A'}}</td>
					<td>{{tran.phone ? tran.phone: 'N/A'}}</td>
					<td>{{tran.transaction ? tran.transaction: 'N/A'}}</td>
					<td>{{tran.type ? tran.type: 'N/A'}}</td>
					<td>{{tran.total_order_amount ? tran.total_order_amount: 'N/A'}}</td>
					<td>{{tran.created_at ? (tran.created_at | date: 'yyyy-MM-dd hh:mm:ss') : 'N/A' }}</td>
				</tr>
				<tr *ngIf="tranactionList.length == 0">
					<td colspan="100" style="text-align: center">No record found.</td>
				</tr>
			</tbody>
		</table>
	</div>
</base-loader>
<app-pagination *ngIf="tranactionList.length > 0" (setPage)="setPage($event)" [perPage]="perPage"
	[totalPages]="totalPages" [currentPage]="currentPage"></app-pagination>