<div class="row">
    <div class="col-sm-6">
        <span style="font-size: 19px;line-height: 36px;font-weight: 600;">
            CUSTOMER DETAIL
        </span>
    </div>
    <div class="col-sm-6"
         style="position: relative;">
        <button (click)="onDialogClose()"
                style="position: absolute;top: -20px;right: -5px;"
                mat-icon-button>
            <mat-icon>clear</mat-icon>
        </button>
    </div>
</div>
<div class="row"
     style="margin-top: 15px;">
    <div class="col-sm-5">
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Name:</div> {{Customer.name == null
        ? 'N/A' : Customer.name}}<br>
        <div *ngIf="role != '2'"><div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Email:</div> {{Customer.email ===
        null ? 'N/A' : Customer.email}}<br></div>
        <div *ngIf="role != '2'"> <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Phone:</div> {{Customer.phone ===
        null ? 'N/A' : Customer.phone}}<br></div>
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Gender:</div> {{Customer.gender ===
        null ? 'N/A' : Customer.gender}}<br>
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Network:</div> {{Customer.network ===
        null ? 'N/A' : Customer.network}}<br>
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Created At:</div>
        {{Customer.created_at}}<br>
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Nationality:</div>
        {{Customer.nationality == null || Customer.nationality == '' ? 'N/A' :Customer.nationality}}<br>
    </div>
    <div class="col-sm-5" >
        <div *ngIf="role != '3'" style="margin-top:10px; text-transform: capitalize;font-weight: bold">Pin:</div>
        <div  *ngIf="role != '3'">{{Customer.password == null || Customer.password == '' ? 'N/A' :Customer.password}}<br></div>
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Last Login:</div>
        {{Customer.last_timestamp == null ? 'N/A' : Customer.last_timestamp}}<br>
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Device Type:</div>
        {{Customer.deviceType == null ? 'N/A' : Customer.deviceType}}<br>
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Device Info:</div>
        {{Customer.device_info == null ? 'N/A' : Customer.device_info}}<br>
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Total Saving:</div>
        {{Customer.totalsaving == null ? 'N/A' : Customer.totalsaving}}<br>
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">Total Deals Used:</div>
        {{Customer.totalDealsUsed == null ? 'N/A' : Customer.totalDealsUsed}}<br>
        <div style="margin-top:10px; text-transform: capitalize;font-weight: bold">App Version:</div>
        {{Customer.app_version == null || Customer.app_version == '(null)' ? 'N/A' : Customer.app_version}}<br>
    </div>
    <div class="col-sm-2"
         style="text-align: right">
        <button  *ngIf="role != '3'" style="min-width: 50px;margin-top: 10px;"
                mat-raised-button
                color="accent"
                (click)="onEditCustomer($event)">Edit
        </button>
    </div>
</div>