<div class="row">
	<div style="width: fit-content;" class="col-sm-4">
		<span style="font-size: 19px;line-height: 36px;font-weight: 600;">
			NOTIFICATIONS
		</span>
	</div>
  <div class="col-sm-2">
    <button *ngIf="UpAdmin.role == 1" class="btn btn-primary round-elem"
            style="background: red; border-color: red"
            (click)="addNew()">ADD NEW
    </button>
	</div>
	<div class="col-sm-6"
	     style="text-align: right;float:right">
		<div class="form-group col-sm-3"
		     style="padding: 0 10px 0 0;">
			<!-- <select [(ngModel)]="operator"
			        (change)="onSearchNotification()"
			        class="form-control">
				<option value="All">All</option>
				<option value="ooredoo">Ooredoo</option>
				<option value="vodafone">Vadafone</option>
			</select> -->
		</div>
		<div class="form-group col-sm-9"
		     style="padding: 0;text-align: left;">
			<!-- <input type="text"
				       placeholder="Search"
					   class="form-control" />
					    -->
			<div class="input-group">
        <span style="cursor: pointer;"
        (click)="gerNotificationsList(1)"
        class="input-group-addon">
    <i class="glyphicon glyphicon-search"></i>

  </span>
				<input autocomplete="false"
				       type="text"
				       maxlength="50"
				       class="form-control"
				       [(ngModel)]="search"
				       (keyup)="onSearchNotification()"
				       placeholder="Search">
			</div>
		</div>
	</div>
</div>
<base-loader>
	<div class="data-table">
		<table class="table table-responsive table-striped"
		       style="width:100%; margin-top: 15px">
			<thead>
				<tr>
					<th style="width: 70px;">NO.</th>
					<th>title</th>
					<th>platform</th>
					<th>message</th>
					<th>audience</th>
					<th style="text-align: center;">push count</th>
					<th style="text-align: center; width: 100px;">archive</th>
					<th>CREATED AT</th>
					<th style="text-align: center">ACTIONS</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let notification of Notifications"
				    (click)="onViewDetails(notification)">
					<td>{{notification.id}}</td>
					<td [title]="notification.title">{{notification.title}}</td>
					<td [title]="notification.platform">{{notification.platform}}</td>
					<td [title]="notification.message">{{notification.message}}</td>
					<td [title]="notification.audience">{{notification.audience}}</td>
					<td style="text-align: center;">{{notification.read_count + ' / ' + notification.send_count}}</td>
					<td (click)="$event.stopPropagation()" style="text-align: center; width: 100px;">
						<mat-slide-toggle title="Send Notification"
						                  [disabled]="notification.archive == 0"
						                  (change)="onChangeNotification(notification, $event)"
						                  [(ngModel)]="notification.slide"
						                  color="accent"></mat-slide-toggle>
					</td>
					<td [title]="notification.created_at">{{notification.created_at}}</td>
					<td style="text-align: center; width: 100px;">
						<i title="Resend"
						   (click)="onResendNotification(notification, $event)"
						   class="action-btn">
							<img width="18"
							     src="assets/images/actions/re-send@1x.png"
							     alt="">
						</i>
					</td>
				</tr>
				<tr *ngIf="Notifications.length == 0">
					<td colspan="100"
					    style="text-align: center">No record found.</td>
				</tr>
			</tbody>
		</table>

	</div>

	<app-pagination *ngIf="Notifications.length > 0"
	                (setPage)="setPage($event)"
	                [perPage]="perPage"
	                [totalPages]="totalPages"
	                [currentPage]="currentPage"></app-pagination>
</base-loader>