<div class="row">
	<div class="col-sm-6">
		<button mat-icon-button
				(click)="onLocationBack()"
				color="accent">
			<img src="assets/images/actions/back.png"
				 alt="">
		</button>
		<span style="font-size: 19px;line-height: 36px;font-weight: 600;">
			MENU LIST
		</span>
	</div>
	<div class="col-sm-6"
		 style="text-align: right">
		<div class="form-group col-sm-3"
			 style="padding: 0 10px 0 0;">
		</div>
		<div class="form-group col-sm-9"
			 style="padding: 0;text-align: left;">
			<div class="input-group">
				<input autocomplete="false"
					   type="text"
					   maxlength="50"
					   class="form-control"
					   [(ngModel)]="search"
					   (keyup)="onSearchParentOutlet()"
					   placeholder="Search">
				<span style="cursor: pointer;"
					  (click)="gerParentOutletsList(1)"
					  class="input-group-addon">
					<i class="glyphicon glyphicon-search"></i>
				</span>
			</div>
		</div>
		<br>
		<button class="btn btn-primary round-elem"
				style="background: red; border-color: red"
				(click)="addNew()">ADD NEW
		</button>
	</div>
</div>
<base-loader>
	<div class="data-table">
		<table id="table" class="table table-responsive table-striped"
			   style="width:100%; margin-top: 15px">
			<thead>
				<tr>
					<th style="width: 70px;">ID</th>
          <th>Name</th>
          <th>SORT ORDER</th>
					<th>Arabic Name</th>
          <th>DESCRIPTION</th>
          <th>STATUS</th>
					<th>IMAGE</th>
					<th>PRICE</th>
					<th style="text-align: center">Action</th>
        </tr>
			</thead>
			<tbody>
          <tr *ngFor="let parentOutlet of RestaurantsParentOutlets">
            <td>{{parentOutlet.id}}</td>
            <td>{{parentOutlet.name}}</td>
            <td>{{parentOutlet?.id_csv}}</td>
            <td>{{parentOutlet.name_ar}}</td>
            <td>{{parentOutlet.description}}</td>
            <td>
              <mat-slide-toggle (change)="changeMenuStatus(parentOutlet)"
               [(ngModel)]="parentOutlet.slide"
              color="accent"></mat-slide-toggle>
            </td>
            <td>{{parentOutlet.image}}</td>
            <td>{{parentOutlet.price | number : decimals}}</td>
            <td style="text-align: center; width: 270px;max-width: 650px;">
              <button style="min-width: 50px;"
                  mat-raised-button
                  color="accent"
                  (click)="onEditRestaurantMenuid(parentOutlet)">Edit
              </button>
              <button style="min-width: 50px;"
                  mat-raised-button
                  color="accent"
                  (click)="onDelete(parentOutlet)">Delete
              </button>
              <button style="min-width: 50px;"
                  mat-raised-button
                  color="accent"
                  (click)="onViewSubMenu(parentOutlet)">Sub Menu
              </button>
              <button style="min-width: 50px;"
                  mat-raised-button
                  color="accent"
                  (click)="onAssignTiming(parentOutlet, $event)">Delivery Timings
              </button>

            </td>
          </tr>
				<!-- <tr *ngIf="RestaurantsParentOutlets.length == 0">
					<td colspan="100"
						style="text-align: center">No record found.</td>

				</tr> -->

			</tbody>
		</table>
  </div>

	<app-pagination *ngIf="RestaurantsParentOutlets.length > 0"
					(setPage)="setPage($event)"
					[perPage]="perPage"
					[totalPages]="totalPages"
					[currentPage]="currentPage"></app-pagination>
</base-loader>
