<div class="row">
	<div class="col-sm-6">
		<span class="mainTitle">
			<div fxLayout="row"
			     fxLayoutAlign="start center"
			     fxLayoutGap="10px">
				<button mat-icon-button
				        (click)="onLocationBack()"
				        color="accent">
					<img src="assets/images/actions/back.png"
					     alt="">
				</button>
				<span>{{isEditing? 'Edit': 'Add'}} Parent Companies</span>
			</div>
		</span>
	</div>
	<div *ngIf="!isEditing"
	     class="col-sm-6"
	     style="text-align: right">


		<div class="form-group col-sm-6"
		     style="padding: 0 10px 0 0;">

		</div>
		<div class="form-group col-sm-6"
		     style="padding: 0;text-align: left;">
			<input type="file"
			       accept=".csv"
			       (change)="convertFile($event)"
			       placeholder="Search"
			       class="form-control" />
		</div>
		<br>

		<button class="btn btn-primary round-elem"
		        style="background: red; border-color: red;height: 30px;padding: 4px 14px; margin-right: 4px;"
		        (click)="onUploadCSV()">UPLOAD CSV
		</button>
		<a download
		   target="_blank"
		   href="assets/Merchants_Sample.csv"
		   class="btn btn-primary round-elem"
		   style="background: red; border-color: red;height: 30px;padding: 4px 14px;">SAMPLE
		</a>
	</div>

</div>

<form [formGroup]="Form"
      (ngSubmit)="doSubmit()">
	<div style="margin-top: 20px"
	     fxLayout="row wrap"
	     fxLayoutAlign="space-between start"
	     >


		<div fxFlex.xl="32"
		     fxFlex.lg="48"
		     fxFlex.md="48">
			<div class="form-group mb-0">

				<mat-form-field style="width: 100%">
					<input matInput
					       formControlName="name"
					       type="text"
					       required
					       placeholder="Parent Company Name">
					<mat-error *ngIf="getValue('name')?.invalid && (getValue('name')?.dirty || getValue('name')?.touched)">Parent Company
						Name is
						required</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div fxFlex.xl="32"
		     fxFlex.lg="48"
		     fxFlex.md="48">
			<div class="form-group mb-0">
				<mat-form-field style="width: 100%;">
					<input matInput
					       formControlName="title"
					       type="text"
					       placeholder="Title">
					<mat-error *ngIf="getValue('title')?.invalid && (getValue('title')?.dirty || getValue('title')?.touched)">Title
						is required</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div fxFlex.xl="32"
		     fxFlex.lg="48"
		     fxFlex.md="48">
			<div class="form-group mb-0">
				<mat-form-field style="width: 100%">
					<input matInput
					       formControlName="point_of_contact"
					       type="text"
					       placeholder="Point of Contact">
					<mat-error *ngIf="getValue('point_of_contact')?.invalid && (getValue('point_of_contact')?.dirty || getValue('point_of_contact')?.touched)">Point
						of Contact
						is required</mat-error>
				</mat-form-field>
				<!-- <tag-input formControlName="name"
						type="text"
						required
						placeholder="point_of_contact" [(ngModel)]='items'></tag-input> -->
			</div>
		</div>
		<div fxFlex.xl="32"
		     fxFlex.lg="48"
		     fxFlex.md="48">
			<div class="form-group mb-0">
				<!-- <mat-form-field style="width: 100%">
					<input matInput
					       formControlName="email"
					       type="email"
					       placeholder="Email">
					<mat-error *ngIf="getValue('email')?.invalid && (getValue('email')?.dirty || getValue('email')?.touched)">Email
						is required</mat-error>
				</mat-form-field> -->
				<multi-tag-input (onTagAdd)="onTagAdd($event)"
								 [emails]="Merchant?.email"
								 [required]="false"
								 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z0-9.-]{0,30}$"
				                 placeholder="Emails"></multi-tag-input>
			</div>
		</div>
		<!-- <div fxFlex.xl="32"
		     fxFlex.lg="48"
		     fxFlex.md="48">
			<div class="form-group mb-0">
				<input id="select-to"
				       type="text"
				       #selectTo
				       class="form-control"
				       placeholder="Enter Email">
			</div>
		</div> -->
		<div fxFlex.xl="32"
		     fxFlex.lg="48"
		     fxFlex.md="48">
			<div class="form-group mb-0">

				<mat-form-field style="width: 100%">
					<input matInput
					       formControlName="phone"
					       type="text"
					       mask="99999999999999999999"
					       maxlength="20"
					       placeholder="Phone">
					<mat-error *ngIf="getValue('phone')?.invalid && (getValue('phone')?.dirty || getValue('phone')?.touched)">Phone
						is required</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div fxFlex.xl="32"
		     fxFlex.lg="48"
		     fxFlex.md="48">
			<div class="form-group mb-0">

				<mat-form-field style="width: 100%">
					<mat-select formControlName="gender"
					            placeholder="Gender">
						<mat-option>None</mat-option>
						<mat-option value="male">Male</mat-option>
						<mat-option value="female">Female</mat-option>
					</mat-select>
					<mat-error *ngIf="getValue('gender')?.invalid && (getValue('gender')?.dirty || getValue('gender')?.touched)">Gender
						is required</mat-error>
				</mat-form-field>
			</div>
		</div>

		<div fxFlex="100">
			<div class="form-group mb-0">
				<mat-form-field style="width: 100%">
					<input matInput
					       formControlName="up_account_manager"
					       type="text"
					       placeholder="UP Account Manager">
					<mat-error *ngIf="getValue('up_account_manager')?.invalid && (getValue('up_account_manager')?.dirty || getValue('up_account_manager')?.touched)">UP
						Account Manager
						is required</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div fxFlex="100">
			<div class="form-group mb-0">
				<mat-form-field style="width: 100%;">
					<textarea matInput
					          placeholder="Notes"
					          formControlName="notes"
					          id=""
					          cols="30"
					          rows="1"></textarea>
				</mat-form-field>
			</div>
		</div>
		<div fxFlex.xl="32"
		     fxFlex.lg="48"
		     fxFlex.md="48">
			<div class="form-group mb-0">
				<mat-form-field style="width: 100%">
					<input matInput
					       readonly
					       [owlDateTime]="contract_start_date"
					       [owlDateTimeTrigger]="contract_start_date"
					       [min]="currentDate"
					       [max]="ContractEndDate"
					       [(ngModel)]="ContractStartDate"
					       [ngModelOptions]="{standalone: true}"
					       (dateTimeChange)="onContractStartDate()"
					       type="text"
					       placeholder="Contract Start Time">
					<i matSuffix
					   class="glyphicon glyphicon-time"></i>
					<owl-date-time pickerType="calendar"
					               #contract_start_date></owl-date-time>
					<mat-error *ngIf="getValue('contract_start_date')?.invalid && (getValue('contract_start_date')?.dirty || getValue('contract_start_date')?.touched)">Contract
						Start Time is required</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div fxFlex.xl="32"
		     fxFlex.lg="48"
		     fxFlex.md="48">
			<div class="form-group mb-0">
				<mat-form-field style="width: 100%">
					<input matInput
					       readonly
					       [owlDateTime]="contract_expiry_date"
					       [owlDateTimeTrigger]="contract_expiry_date"
					       [min]="ContractStartDate"
					       [(ngModel)]="ContractEndDate"
					       [ngModelOptions]="{standalone: true}"
					       (dateTimeChange)="onContractEndDate()"
					       type="text"
					       placeholder="Contract End Time">

					<i matSuffix
					   class="glyphicon glyphicon-time"></i>

					<owl-date-time pickerType="calendar"
					               #contract_expiry_date></owl-date-time>
					<mat-error *ngIf="getValue('contract_expiry_date')?.invalid && (getValue('contract_expiry_date')?.dirty || getValue('contract_expiry_date')?.touched)">Contract
						End Time is required</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div *ngIf="id == 'add'"
		     fxFlex.xl="32"
		     fxFlex.lg="48"
		     fxFlex.md="48">
			<div class="form-group mb-0"
			     style="margin-top: 10px;">
				<mat-checkbox [(ngModel)]="addOutlet"
				              [ngModelOptions]="{standalone: true}"
				              (change)="onAddOutlet($event)"
				              [value]=""
				              align="start"
				              [indeterminate]="false"
				              color="primary">
					Add Outlet
				</mat-checkbox>
			</div>
		</div>
		<ng-container *ngIf="addOutlet">
			<app-outlets-form [isMultiple]="false"
			                  [is_button_shown]="false"
			                  [is_heading_shown]="false"
			                  [is_child]="true"
			                  [parent_key]="merchant_id"
			                  (onFormChanges)="onOutletFormChanges($event)"></app-outlets-form>
		</ng-container>
	</div>

	<div class="row">
		<div style="margin-top: 20px"
		     class="col-sm-12">
			<button type="submit"
			        *ngIf="!isEditing && addOutlet"
			        [disabled]="Form.invalid || isFormValid || isLoading"
			        class="btn btn-primary round-elem"
			        style="background: red; border-color: red">
				ADD ORGANIZATION WITH OUTLET
			</button>

			<button type="submit"
			        *ngIf="!isEditing && !addOutlet"
			        [disabled]="Form.invalid || isLoading"
			        class="btn btn-primary round-elem"
			        style="background: red; border-color: red; margin-right: 4px;">
				ADD NEW PARENT COMPANY
			</button>

			<button type="button"
			        *ngIf="!isEditing && !addOutlet"
			        [disabled]="Form.invalid || isLoading"
			        class="btn btn-primary round-elem"
			        (click)="doSubmit('multi')"
			        style="background: red; border-color: red">
				Add With Multiple Outlets
			</button>

			<button type="submit"
			        *ngIf="isEditing"
			        [disabled]="Form.invalid || isLoading"
			        class="btn btn-primary round-elem"
			        style="background: red; border-color: red">
				UPDATE PARENT COMPANY
			</button>
			<img *ngIf="isLoading"
			     class="loader-btn-image"
			     src="assets/images/view-loader.gif">
		</div>
	</div>
</form>

<div *ngIf="isEditing"
     style="max-height: 50vh;overflow: auto;margin-top: 20px;"
     class="data-table">
	<table class="table table-responsive table-striped"
	       style="width:100%; margin-top: 15px">
		<thead>
			<tr>
				<th>NAME</th>
				<th>phone</th>
				<th>address</th>
				<th style="text-align: center">status</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let outlet of Outlets">
				<td [title]="outlet.name">
					<span (click)="onOutletNameClick(outlet)"
					      class="on-hover">{{outlet.name}}</span>
				</td>
				<td [title]="outlet.phone">{{outlet.phone}}</td>
				<td [title]="outlet.address">{{outlet.address}}</td>
				<td style="text-align: center">
					<span *ngIf="outlet.active == 1"
					      style="background: green;color: white;padding: 3px 7px;border-radius: 3px;">Enabled</span>
					<span *ngIf="outlet.active == 0"
					      style="background: red;color: white;padding: 3px 7px;border-radius: 3px;">Disabled</span>
				</td>
				<td style="text-align: center; width: 100px;">
					<mat-slide-toggle (change)="onChangeOutletStatus(outlet)"
					                  [(ngModel)]="outlet.slide"
					                  color="accent"></mat-slide-toggle>
				</td>
			</tr>
			<tr *ngIf="Outlets.length == 0">
				<td colspan="100"
				    style="text-align: center">No record found.</td>
			</tr>
		</tbody>
	</table>
</div>
