<div class="row">
	<div style="width:fit-content" class="col-sm-2">
		<span class="mainTitle" style="margin-left: 6px;">
			{{isMultiple == true ? 'Multiple Categories' : 'Categories'}} 
		</span>
	</div>
  <div class="col-sm-4">
		&nbsp;&nbsp;
		<button class="btn btn-primary round-elem"
		        style="background: red; border-color: red; margin-right: 4px;"
		        (click)="addNew1()">EDIT BY ORDER
		</button>
		<button class="btn btn-primary round-elem"
		        style="background: red; border-color: red"
		        (click)="addNew()">ADD NEW
		</button>
  </div>
	<div class="col-sm-6"
	     style="text-align: right;float:right">
		<div class="form-group col-sm-3"
		     style="padding: 0 10px 0 0;">
		</div>
		<div class="form-group col-sm-9"
		     style="padding: 0;text-align: left;">
			<div class="input-group">
        <span style="cursor: pointer;"
        (click)="gerCategoriesList(1)"
        class="input-group-addon">
    <i class="glyphicon glyphicon-search"></i>

  </span>
				<input autocomplete="false"
				       type="text"
				       maxlength="50"
				       [(ngModel)]="search"
				       class="form-control"
				       placeholder="Search">
			</div>
		</div>
	</div>
</div>
<base-loader>
	<div class="data-table">
		<table class="table table-responsive table-striped"
		       style="width:100%; margin-top: 15px">
			<thead>
				<tr>
					<th style="width: 70px;">ID.</th>
					<th>NAME</th>
					<th>DESCRIPTION</th>
					<th>ARABIC NAME</th>
					<th>IMAGE</th>
					<th>IMAGE V2</th>
					<!-- <th>LOGO</th> -->
					<th>STATUS</th>
					<th>ORDER BY</th>
					<th>CREATED AT</th>
					<th>UPDATED AT</th>
					<th>ACTION</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let code of Categories">
					<td>{{code.id}}</td>
					<td>{{code.name}}</td>
					<td>{{code.description}}</td>
					<td>{{code.name_ar}}</td>
					<td>{{code.image}}</td>
					<td style="text-align: center;">{{code.image_v2 ===null? 'N/A':code.image_v2 }}</td>
					<!-- <td>{{code.logo}}</td> -->
					<td>{{code.status}}</td>
					<td>{{code.orderby}}</td>
					<td>{{code.created_at}}</td>
					<td>{{code.updated_at}}</td>
					<td style="text-align: left; width: 200px;">
						<button style="min-width: 50px;"
						        mat-raised-button
						        (click)="onEditCategorie(code)"
						        color="accent">Edit
						</button>
					</td>
					
					
				</tr>
				<tr *ngIf="Categories.length == 0">
					<td colspan="100"
					    style="text-align: center">No record found.</td>
				</tr>
			</tbody>
		</table>

	</div>

	<app-pagination *ngIf="Categories.length > 0"
	                (setPage)="setPage($event)"
	                [perPage]="perPage"
	                [totalPages]="totalPages"
	                [currentPage]="currentPage"></app-pagination>
</base-loader>