<div class="row" style="padding: 0px;">
    <div class="col-sm-12" style="position: relative">
      <button
        mat-dialog-close
        style="position: absolute; top: -20px; right: -5px"
        mat-icon-button
      >
        <mat-icon (click)="onClose()">clear</mat-icon>
      </button>
      <img
        style="background-position: center; background-size: cover;"
        src="{{fileurl}}{{img}}"
        alt=""
        height="250px"
        width="100%"
      />
    </div>
  </div>
  