<div class="row">
	<div class="col-sm-6">
		<span class="mainTitle">
			<div fxLayout="row"
			     fxLayoutAlign="start center"
			     fxLayoutGap="10px">
				<!-- <button *ngIf="id != 'All'"
				        mat-icon-button
				        (click)="onLocationBack()"
				        color="accent">
					<img src="assets/images/actions/back.png"
					     alt="">
				</button> -->
				<span style="font-weight: 600;">CMS Editing History</span>
			</div>
		</span>
		<!-- <strong>Total: {{smsArrayCount}} users</strong> -->
	</div>
	<div class="col-sm-6"
	     style="text-align: right">

		<div class="form-group col-sm-7"
		     style="padding: 0;float: right;">
			<div class="input-group">
        <span style="cursor: pointer;"
        (click)="getSMSList(1)"
        class="input-group-addon">
    <i class="glyphicon glyphicon-search"></i>

  </span>
				<input autocomplete="false"
				       type="text"
				       maxlength="50"
				       [(ngModel)]="search"
				       (keyup)="onSearchSubscription()"
				       class="form-control"
				       placeholder="Search">
			</div>
      <!-- <button mat-raised-button class="btn btn-primary" style="background: red;margin-bottom: 10px;margin-top: 16px;border-color: red; font-weight: 600;width: 150px;color: white;">Add a number
      </button> -->
		</div>
	</div>
</div>
<base-loader>
	<div class="data-table">
		<table class="table table-responsive table-striped"
		       style="width:100%; margin-top: 15px">
			<thead>
				<tr>
					<th class="weight-600">USER</th>
					<th class="weight-600">CHANGES</th>
					<th class="weight-600">DATE</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let history of historyList">
					<td>{{history.admin.email}}</td>
					<td>{{history.table_name}} --> {{ history.column_name }} --> {{ history.value }} </td>
					<td>{{history.createdAt | date: 'short'}}</td>
					<!-- <td>
            <button mat-raised-button class="btn btn-primary" style="background: #008B8B;margin-bottom: 10px;margin-top: 16px;border-color: #008B8B; font-weight: 600;color: white;">
              <mat-icon style="font-size: 17px;margin-top: 6px;">cancel</mat-icon>
              Remove
            </button>
          </td> -->
				</tr>
				<tr *ngIf="historyList.length == 0">
					<td colspan="100"
					    style="text-align: center">No record found.</td>
				</tr>
			</tbody>
		</table>
	</div>
</base-loader>
<app-pagination *ngIf="historyList.length > 0"
                (setPage)="setPage($event)"
                [perPage]="perPage"
                [totalPages]="totalPages"
                [currentPage]="currentPage"></app-pagination>

