.ml-10 {
  margin-left: 10px;
}

#outletList {
  font-size: 16px;
  padding: 14px 16px;
}

#outletList {
  div {
    margin-bottom: 20px;
    width: 25%;
  }
}

.cross {
  float: right;
  cursor: pointer;
}
