<div class="row">
	<div class="col-sm-6">
		<span style="font-size: 19px;line-height: 36px;font-weight: 600;">
			<div fxLayout="row"
				 fxLayoutAlign="start center"
				 fxLayoutGap="10px">
				<button mat-icon-button
						(click)="onLocationBack()"
						color="accent">
					<img src="assets/images/actions/back.png"
						 alt="">
				</button>
				<span>ADD TRENDING SEARCH </span>
			</div>
		</span>
	</div>

</div>

<form [formGroup]="Form"
	  (ngSubmit)="doSubmit()">
	<div style="margin-top: 20px"
		 fxLayout="row wrap"
		 fxLayoutAlign="space-between start"
		 >
		<div fxFlex="100">
			<div fxLayout="row wrap"
				 fxLayoutAlign="start start"
				 fxLayoutGap="10px"
				 >

				<div fxFlex.xl="32"
					 fxFlex.lg="48"
					 fxFlex.md="48">
					<div class="form-group mb-0">
						<mat-form-field style="width: 100%">
							<input matInput
								   formControlName="tag"
								   type="text"
								   required
								   placeholder="Name">
							<mat-error
									   *ngIf="getValue('tag')?.invalid && (getValue('tag')?.dirty || getValue('tag')?.touched)">
								Name
								is required</mat-error>
						</mat-form-field>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div style="margin-top: 20px"
			 class="col-sm-12">
			<button type="submit"
					*ngIf="!isEditing"
					[disabled]="Form.invalid || isLoading || isDiscountType"
					class="btn btn-primary round-elem"
					style="background: red; border-color: red">
				ADD TREDNING SEARCH
			</button>
			<!-- <button type="submit"
					*ngIf="isEditing"
					[disabled]="Form.invalid || isLoading || isDiscountType"
					class="btn btn-primary round-elem"
					style="background: red; border-color: red">
				UPDATE PLAYLIST
			</button> -->
			<img *ngIf="isLoading"
				 class="loader-btn-image"
				 src="assets/images/view-loader.gif">
		</div>

	</div>
</form>
