<div class="row">
	<div style="width:fit-content" class="col-sm-3">
		<span class="mainTitle" style="margin-left: 6px;">
			{{isMultiple == true ? 'Multiple Promo Codes' : 'Promo Codes'}} 
			<!-- {{AccessCodeHeading}} -->
		</span>
	</div>
  <div class="col-sm-3">
		&nbsp;&nbsp;
		<button class="btn btn-primary round-elem"
		        style="background: red; border-color: red"
		        (click)="addNew()">ADD NEW
		</button>
  </div>
	<div class="col-sm-6"
	     style="text-align: right;float:right">
		<div class="form-group col-sm-3"
		     style="padding: 0 10px 0 0;">
			<!-- <select class="form-control"
			        [(ngModel)]="appName"
			        (change)="onAppChange()">
				<option value="1">APP 1</option>
				<option value="2">APP 2</option>
			</select> -->
			<!-- <user-app-selector (onAppSelect)="onAppChange($event)"></user-app-selector> -->
		</div>
		<div class="form-group col-sm-9"
		     style="padding: 0;text-align: left;">
			<!-- <input type="text"
				  placeholder="Search"
				  class="form-control" />
				   -->
			<div class="input-group">
        <span style="cursor: pointer;"
        (click)="gerPromoCodesList(1)"
        class="input-group-addon">
    <i class="glyphicon glyphicon-search"></i>

  </span>
				<input autocomplete="false"
				       type="text"
				       maxlength="50"
				       [(ngModel)]="search"
				       (keyup)="onSearchPromoCode()"
				       class="form-control"
				       placeholder="Search">
			</div>
		</div>
		<br>
		<!-- <button *ngIf="!isMultiple"
		        class="btn btn-primary round-elem"
		        style="background: red; border-color: red"
		        (click)="onSwitchCodes(true)">MULTIPLE ACCESS CODES
		</button>
		<button *ngIf="isMultiple"
		        class="btn btn-primary round-elem"
		        style="background: red; border-color: red"
		        (click)="onSwitchCodes(false)">ACCESS CODES
		</button> -->
	</div>
</div>
<base-loader>
	<div class="data-table">
		<table class="table table-responsive table-striped"
		       style="width:100%; margin-top: 15px">
			<thead>
				<tr>
					<th style="width: 70px;">NO.</th>
					<th>Title</th>
					<th>Code</th>
					<th>Redemptions</th>
					<th>Redeemed</th>
					<th>Expiry date/time</th>
					<!-- <th>Days</th> -->
					<th>Multiple</th>
					<th style="text-align: center">Status</th>
					<!-- <th style="text-align: center">Update</th> -->
					<th style="text-align: center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let code of PromoCodes">
					<td>{{code.id}}</td>
					<td>{{code.title}}</td>
					<td>{{code.code}}</td>
					<td>{{code.redemptions}}</td>
					<td>{{code.redeemed}}</td>
					<td>{{code.expiry_datetime}}</td>
					<!-- <td>{{code.days}}</td> -->
					<td>{{code.multiple == 0 ? 'No' : 'Yes'}}</td>
					<!-- <td>{{code.status == 0 ? 'Inactive' : 'Active'}}</td> -->
					<td style="text-align: center; width: 100px;">
						<mat-slide-toggle (change)="onChangePromoCode(code)"
						                  [(ngModel)]="code.slide"
						                  color="accent"></mat-slide-toggle>
					</td>
					<td style="text-align: center;">
						<!-- <i *ngIf="code.multiple == 1"
						   title="View Codes"
						   class="action-btn">
							<img
							     src="assets/images/actions/paper-plane@2x.png"
							     alt="">
						</i>
						<i style="cursor: not-allowed;"
						   *ngIf="code.multiple == 0"
						   class="action-btn">
							<img
							     src="assets/images/actions/paper-plane@2x.png"
							     alt="">
						</i> -->
						<button style="min-width: 50px; margin-left: 41px"
						        mat-raised-button
						        (click)="onEditPromoCodes(code)"
						        color="accent">Edit
						</button>
						<button style="min-width: 50px; margin-left: 5px;"
						        mat-raised-button
						        (click)="onViewAllPromoCodes(code)"
						        [disabled]="code.multiple == 0"
						        color="accent">All Codes
						</button>
					</td>
				</tr>
				<tr *ngIf="PromoCodes.length == 0">
					<td colspan="100"
					    style="text-align: center">No record found.</td>
				</tr>
			</tbody>
		</table>

	</div>

	<app-pagination *ngIf="PromoCodes.length > 0"
	                (setPage)="setPage($event)"
	                [perPage]="perPage"
	                [totalPages]="totalPages"
	                [currentPage]="currentPage"></app-pagination>
</base-loader>