::ng-deep .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

::ng-deep .my-drop-zone {
    border: dotted 3px lightgray;
    background-color: #fafafa;
    width: 100%;
    padding: 3px;
    color: lightgray;
    text-align: center;
    width: 300px;
    margin-left: 8%;
}

::ng-deep .i{
    top : 27%;
}


/* ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff;
  } */
  :host ::ng-deep .mat-form-field .mat-form-field-flex {
    border-radius: 9px !important;
  }

  /* :host ::ng-deep .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: none !important;
    } */
    
    ::ng-deep .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: none !important;
    }