<div style="padding-left: 30px; padding-right: 30px;">
    <div class="row">
        <div class="col-sm-2" style="text-align: left;float: left;">
            <span class="mainTitle"
                style="text-transform: capitalize;">
                {{onTypeChange(scenario)}}
            </span>
        </div>
        <div class="col-sm-4" style="margin-bottom: 5px;">
            <button *ngIf="UpAdmin.role == 1" class="btn btn-primary round-elem"
                style="background: red; border-color: red; margin-right: 20px;" (click)="addNew()">Add New
            </button>
            <button style="background: transparent; border: none; color: red; font-weight: 600;"
                (click)="onAppImage(scenario)">
                In-App Image
            </button>
        </div>
        <div class="col-sm-6" style="text-align: right;float: right;">
            <div class="form-group col-sm-3" style="padding: 0 10px 0 0;">
            </div>
            <div class="form-group col-sm-9" style="padding: 0;text-align: left;">
                <!-- <input type="text"
                       placeholder="Search"
                       class="form-control" />
                        -->
                <!-- <div class="input-group">
                <span style="cursor: pointer;" (click)="gerCreditCardPackagesList(1)" class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input autocomplete="false" type="text" maxlength="50" class="form-control" [(ngModel)]="search"
                    (keyup)="onSearchNotification()" placeholder="Search">
            </div> -->
            </div>
        </div>
    </div>
    <base-loader>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of mainArray; let i = index" (opened)="hr = true"
                (closed)="hr = false; " style="margin: 15px 0px !important;text-transform: capitalize;"
                [ngStyle]="hr ? {'border-bottom': '1px solid lightgrey'} : {'border': '0'}">

                <mat-expansion-panel-header [collapsedHeight]="'90px'" [expandedHeight]="'80px'"
                    (click)="togglePanel(item)" [ngStyle]="!hr ? {'border-bottom': '1px solid lightgrey'} : {'border': '0'}" style="padding-left: 0px; padding-right: 0px;">
                    <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between center"
                        >
                        <div fxFlex>
                            <span style="font-size: 15px; text-transform: capitalize;
                        font-weight: 900; font-family: Manrope;">{{onTypeChange(item.type)}}</span> <br>
                            <span *ngIf="item.status == '1'" style="color: #148F96; font-family: Manrope;">Active</span>
                            <span *ngIf="item.status == '0'" style="color: #757575; font-family: Manrope;">Inactive</span>
                        </div>
                    </div>
                </mat-expansion-panel-header>

                <!-- <base-loader [isLoading]="firstPara"> -->
                <form [formGroup]="Form">
                    <div style="margin-top: 20px" fxLayout="row wrap" fxLayoutAlign="space-between start">
                        <div fxFlex="45">
                            <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
                                <div fxflex="100" fxLayoutAlign="space-between start"
                                    style="width: 100%; margin-top: 10px !important; padding-left: 10px; text-align: center;">
                                    <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" style="font-size: 15px;">
                                    </div>
                                    <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43" style="font-size: 15px;">
                                        <label>English</label>
                                    </div>
                                    <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43" style="font-size: 15px;">

                                        <label>Arabic</label>
                                    </div>
                                </div>
                                <div fxflex="100" fxLayoutAlign="space-between start"
                                    style="width: 100%; margin-top: 10px; padding-left: 10px;">
                                    
                                    <div *ngIf="item.type != 'free_subscription'" fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" style="padding-top: 2%;font-size: 15px;">
                                        <label>Title</label>
                                    </div>
                                    <div *ngIf="item.type == 'free_subscription'" fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" style="padding-top: 2%;font-size: 14px;">
                                        <label>Subtext 1</label>
                                    </div>
                                    <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43">
                                        <div class="form-group mb-0">
                                            <mat-form-field floatLabel='never' style="width: 100%; height: 18px;"
                                                >
                                                <input matInput 
                                                    formControlName="name" type="text" required
                                                    style="text-align: left;" placeholder="Name" value="{{item?.name}}"
                                                    >
                                                <mat-error
                                                    *ngIf="getValue('name')?.invalid && (getValue('name')?.dirty || getValue('name')?.touched)">
                                                    Name
                                                    is required / Character limit exceeded</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" style="margin-left: 0px !important; margin-right: -10px !important;">
                                        <div class="form-group mb-0" style="margin-left: 7px;">
                                            <mat-form-field floatLabel='never' style="width: 100%; height: 18px;">
                                                <input matInput 
                                                    formControlName="name_ar" type="text" dir="rtl"
                                                    style="text-align: right" required placeholder="Name Arabic"
                                                   >
                                                <mat-error
                                                    *ngIf="getValue('name_ar')?.invalid && (getValue('name_ar')?.dirty || getValue('name_ar')?.touched)">
                                                    Name Arabic
                                                    is required / Character limit exceeded</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div fxflex="100" fxLayoutAlign="space-between start"
                                    style="width: 100%; margin-top: 20px; padding-left: 10px; margin-top: 10px;"
                                    >
                                    
                                    <div *ngIf="item.type != 'free_subscription'" fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" style="padding-top: 2%; margin-top:24px;font-size: 15px;">
                                        <label>Subtext</label>
                                    </div>
                                    <div *ngIf="item.type == 'free_subscription'" fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" style="padding-top: 2%;font-size: 14px;">
                                        <label>Subtext 2</label>
                                    </div>
                                    <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43">
                                        <div class="form-group mb-0">
                                            <mat-form-field floatLabel='never' style="width: 100%; margin-top: 6%;">
                                                <textarea matInput placeholder="Sub Text"
                                                     formControlName="sub_text"
                                                    style="text-align: left; height: 45px; overflow: hidden; resize: none; text-align: left;"
                                                 cols="30" rows="2"></textarea>
                                                <mat-error
                                                    *ngIf="getValue('sub_text')?.invalid && (getValue('sub_text')?.dirty || getValue('sub_text')?.touched)">
                                                    Sub Text
                                                    is required / Character limit exceeded</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43">
                                        <div class="form-group mb-0">
                                            <mat-form-field floatLabel='never' style="width: 99%; margin-top: 6%;">
                                                <textarea matInput placeholder="Sub Text Arabic"
                                                     formControlName="sub_text_ar"
                                                    cols="30" rows="2"
                                                    style="height: 45px; overflow: hidden;resize: none; text-align: right;"></textarea>
                                                <mat-error
                                                    *ngIf="getValue('sub_text_ar')?.invalid && (getValue('sub_text_ar')?.dirty || getValue('sub_text_ar')?.touched)">
                                                    Arabic is required / Character limit exceeded</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div fxflex="100" fxLayoutAlign="space-between start"
                                    style="width: 100%; margin-top: 60px; padding-left: 10px;"
                                    *ngIf="item.type== 'free_subscription'">
                                    <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10"
                                        style="padding-top: 5%;font-size: 15px;">
                                        <label>Subtext</label>
                                    </div>
                                    <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43"
                                        style="padding-top: 5%;overflow: hidden; ">
                                        <div class="form-group mb-0">
                                            <mat-form-field style="width: 100%;" appearance="outline">
                                                <textarea matInput placeholder="Sub Text"
                                                    [ngModelOptions]="{standalone: true}" formControlName="sub_text"
                                                    maxlength="112" cols="30" rows="3"
                                                    style="height: 55px;resize: none"></textarea>
                                                <mat-error
                                                    *ngIf="getValue('sub_text')?.invalid && (getValue('sub_text')?.dirty || getValue('sub_text')?.touched)">
                                                    Sub Text
                                                    is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43"
                                        style="padding-top: 5%; overflow: auto;">
                                        <div class="form-group mb-0">
                                            <mat-form-field style="width: 100%;" appearance="outline">
                                                <textarea matInput placeholder="Sub Text Arabic"
                                                    [ngModelOptions]="{standalone: true}" formControlName="sub_text_ar"
                                                    maxlength="112" cols="30"
                                                    style="height: 55px; overflow: hidden; text-align: right; resize: none"
                                                    rows="3"></textarea>
                                                <mat-error
                                                    *ngIf="getValue('sub_text_ar')?.invalid && (getValue('sub_text_ar')?.dirty || getValue('sub_text_ar')?.touched)">
                                                    Sub Text
                                                    Arabic is required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- Special Package Feilds Here  -->

                            </div>
                        </div>
                        <div fxFlex="25" *ngIf="item.type !== 'special_package'">
                            <div fxflex="100" fxLayoutAlign="space-between start" fxLayoutGap="10px"
                                style="width: 97%; margin-top: 10px; padding-left: 37px; margin-bottom: 15px;"
                                *ngIf="item.type!= 'free_subscription' && item.type!= 'special_package'">
                                <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20"
                                    style="padding-top: 2%; font-size: 15px;">
                                    <label>Days</label>
                                </div>
                                <div fxFlex.xl="55" fxFlex.lg="55" fxFlex.md="55">
                                    <div class="form-group mb-0">
                                        <mat-form-field floatLabel='never' style="width: 100%">
                                            <input style="height: 15px;text-align: left; padding-left: 10px;" matInput
                                                 formControlName="duration"
                                                type="number" required>
                                            <mat-error
                                                *ngIf="getValue('duration')?.invalid && (getValue('duration')?.dirty || getValue('duration')?.touched)">
                                                Days
                                                are required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex.xl="51" fxFlex.lg="51" fxFlex.md="51">
                                    <div class="form-group mb-0">
                                    </div>
                                </div>
                            </div>
                            <div fxflex="100" fxLayoutAlign="space-between start"
                                style="width: 100%; margin-top: -10px; padding-left: 40px; margin-bottom: 15px;"
                                *ngIf="item.type!= 'free_subscription' && item.type!= 'special_package'">
                                <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20"
                                    style="padding-top: 2%; font-size: 15px;">
                                    <label>QAR</label>
                                </div>
                                <div fxFlex.xl="55" fxFlex.lg="55" fxFlex.md="55">
                                    <div class="form-group mb-0">
                                        <mat-form-field floatLabel='never' style="width: 100%">
                                            <input style="height: 15px;text-align: left; padding-left: 10px;" matInput
                                                 formControlName="qatar_value"
                                                type="number" required>
                                            <!-- <mat-error
                                        *ngIf="getValue('qatar_value')?.invalid && (getValue('qatar_value')?.dirty || getValue('qatar_value')?.touched)">
                                        QAR
                                        is required</mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex.xl="51" fxFlex.lg="51" fxFlex.md="51">
                                    <div class="form-group mb-0">
                                    </div>
                                </div>
                            </div>
                            <div fxflex="100" fxLayoutAlign="space-between start"
                                style="width: 100%; margin-top: -10px; padding-left: 40px; margin-bottom: 15px;"
                                *ngIf="item.type!= 'free_subscription' && item.type!= 'special_package'">
                                <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20"
                                    style="padding-top: 2%; font-size: 15px;">
                                    <label>USD</label>
                                </div>
                                <div fxFlex.xl="55" fxFlex.lg="55" fxFlex.md="55">
                                    <div class="form-group mb-0">
                                        <mat-form-field floatLabel='never' style="width: 100%">
                                            <input style="height: 15px;text-align: left; padding-left: 10px;" matInput
                                                formControlName="doller_value"
                                                type="number" required>
                                            <!-- <mat-error
                                        *ngIf="getValue('doller_value')?.invalid && (getValue('doller_value')?.dirty || getValue('doller_value')?.touched)">
                                        Dollar
                                        is required</mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex.xl="51" fxFlex.lg="51" fxFlex.md="51">
                                    <div class="form-group mb-0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="25" *ngIf="item.type== 'special_package'">
                            <div fxflex="100" fxLayoutAlign="space-between start" *ngIf="item.type== 'special_package'"
                                style="width: 100%; margin-top: 0px; padding-left: 0px; text-align: center;">
                                <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10">
                                </div>
                                <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43" style="font-size: 15px;">
                                    <label>Standard</label>
                                </div>
                                <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43" style="font-size: 15px">

                                    <label>Special</label>
                                </div>
                            </div>
                            <div fxflex="100" fxLayoutAlign="space-between start"
                                style="width: 100%; margin-top: 10px; padding-left: 10px;"
                                *ngIf="item.type== 'special_package'">
                                <div fxFlex.xl="12" fxFlex.lg="12" fxFlex.md="12"
                                    style="padding-top: 2%; font-size: 15px;">
                                    <label>QAR</label>
                                </div>
                                <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43" style="height: 18px;">
                                    <div class="form-group mb-0">
                                        <mat-form-field floatLabel='never' style="width: 100%;">
                                            <input style="height: 15px;text-align: left; padding-left: 10px;" matInput
                                                formControlName="standard_value"
                                                type="number" required>
                                            <!-- <mat-error
                                        *ngIf="getValue('standard_value')?.invalid && (getValue('standard_value')?.dirty || getValue('standard_value')?.touched)">
                                        Standard QAR
                                        is required</mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43">
                                    <div class="form-group mb-0">
                                        <mat-form-field floatLabel='never' style="width: 100%">
                                            <input style="height: 15px; text-align: left; padding-left: 10px;" matInput
                                                formControlName="qatar_value"
                                                type="number" required placeholder="QAR Special">
                                            <!-- <mat-error
                                        *ngIf="getValue('qatar_value')?.invalid && (getValue('qatar_value')?.dirty || getValue('qatar_value')?.touched)">
                                        QAR Special
                                        is required</mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div fxflex="100" fxLayoutAlign="space-between start"
                                style="width: 100%; margin-top: -10px; padding-left: 10px;"
                                *ngIf="item.type== 'special_package'">
                                <div fxFlex.xl="12" fxFlex.lg="12" fxFlex.md="12"
                                    style="padding-top: 2%; font-size: 15px;">
                                    <label>USD</label>
                                </div>
                                <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43">
                                    <div class="form-group mb-0">
                                        <mat-form-field floatLabel='never' style="width: 100%;height: 15px;" >
                                            <input style="height: 15px;text-align: left; padding-left: 10px;" matInput
                                                formControlName="standard_doller_value" type="number" required>
                                            <!-- <mat-error
                                        *ngIf="getValue('standard_doller_value')?.invalid && (getValue('standard_doller_value')?.dirty || getValue('standard_doller_value')?.touched)">
                                        Standard Dollar Value
                                        is required</mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex.xl="43" fxFlex.lg="43" fxFlex.md="43">
                                    <div class="form-group mb-0">
                                        <mat-form-field floatLabel='never' style="width: 100%">
                                            <input style="height: 15px;text-align: left; padding-left: 10px;" matInput
                                                formControlName="doller_value" type="number" required
                                                placeholder="USD Special">
                                            <!-- <mat-error
                                        *ngIf="getValue('doller_value')?.invalid && (getValue('doller_value')?.dirty || getValue('doller_value')?.touched)">
                                        Special Dollar
                                        is required</mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="20">
                            <div fxflex="100" fxLayoutAlign="space-between start" fxLayoutGap="10px"
                                style="width: 100%; margin-top: 35px; padding-left: -8px;"
                                *ngIf="item.type== 'special_package'">
                                <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20"
                                    style="padding-top: 2%; font-size: 15px;">
                                    <label>Days</label>
                                </div>
                                <div fxFlex.xl="55" fxFlex.lg="55" fxFlex.md="55">
                                    <div class="form-group mb-0">
                                        <mat-form-field floatLabel='never' style="width: 100%; height: 15px;">
                                            <input matInput
                                                formControlName="duration" style="text-align: left; padding-left: 10px;"
                                                type="number" required>
                                            <mat-error
                                                *ngIf="getValue('duration')?.invalid && (getValue('duration')?.dirty || getValue('duration')?.touched)">
                                                Days
                                                are required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex.xl="51" fxFlex.lg="51" fxFlex.md="51">
                                    <div class="form-group mb-0">
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="end start" fxLayoutGap="10px" *ngIf="item.type !== 'free_subscription'"
                                style="margin-bottom: 20%; margin: top 20px; align-self: center;">
                                <mat-slide-toggle [checked]="item.status" (change)="toggleView(item)"
                                    style="padding-top: 35px;" [(ngModel)]="item.status" color="accent"
                                    [ngModelOptions]="{standalone: true}">
                                    <label *ngIf="item.status == true" style="color:#148F96;">ENABLED</label>
                                    <label *ngIf="item.status == false" style="color:#757575;">DISABLED</label>
                                </mat-slide-toggle>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="end end" fxLayoutGap="10px"
                                style="margin-top: 50px;">
                                <button *ngIf="item.type !== 'free_subscription'"
                                    style="background: transparent; border: none; color: #757575; font-weight: 600; margin-bottom: 10px !important; align-self: center;"
                                    (click)="onDeletePackage(item)">
                                    Delete Package
                                </button>
                                <button type="button" (click)="doSubmit(item)" class="btn btn-primary"
                                    style="background: #148F96; border-color: #148F96; width: 100px; border-radius: 8px;">
                                    Save
                                </button>
                            </div>
                        </div>
                        <!-- <div fxFlex="20" *ngIf="item.type!== 'special_package'">
                        <div fxflex="100" fxLayoutAlign="space-between start" fxLayoutGap="10px"
                            style="width: 100%; margin-top: 28px; padding-left: -8px;"
                            *ngIf="item.type== 'special_package'">
                            <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" style="padding-top: 2%; font-size: 15px;">
                                <label>Days</label>
                            </div>
                            <div fxFlex.xl="55" fxFlex.lg="55" fxFlex.md="55">
                                <div class="form-group mb-0">
                                    <mat-form-field style="width: 100%; height: 15px;" appearance="outline">
                                        <input matInput [ngModelOptions]="{standalone: true}" formControlName="duration"
                                            type="number" required>
                                        <mat-error
                                            *ngIf="getValue('duration')?.invalid && (getValue('duration')?.dirty || getValue('duration')?.touched)">
                                            Days
                                            are required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex.xl="51" fxFlex.lg="51" fxFlex.md="51">
                                <div class="form-group mb-0">
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50">
                            <div fxLayout="row wrap" fxLayoutAlign="end start" fxLayoutGap="10px" 
                                style="margin-bottom: 20%; margin-top: 20px; align-self: center;">
                                <mat-slide-toggle [checked]="item.status" (change)="toggleView(item)"
                                    [(ngModel)]="item.status" color="accent" [ngModelOptions]="{standalone: true}">
                                    <label *ngIf="item.status == true" style="color:#148F96;">ENABLED</label>
                                    <label *ngIf="item.status == false" style="color:#757575;">DISABLED</label>
                                </mat-slide-toggle>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="end end" fxLayoutGap="10px"
                                style="margin-top: 50px;">
                                <button
                                    style="background: transparent; border: none; color: #757575; font-weight: 600; margin-bottom: 10px !important; align-self: center;"
                                    (click)="onDeletePackage(item)">
                                    Delete Package
                                </button>
                                <button type="button" (click)="doSubmit()" class="btn btn-primary round-elem"
                                    style="background: #148F96; border-color: #148F96; width: 100px;">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div> -->
                        <!-- <div class="row">
                    <div style="margin-top: 20px" class="col-sm-12">

                        <img *ngIf="isLoading" class="loader-btn-image" src="assets/images/view-loader.gif">
                    </div> -->
                    </div>
                </form>
                <!-- </base-loader> -->
            </mat-expansion-panel>
            <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        </mat-expansion-panel> -->
        </mat-accordion>
    </base-loader>
</div>
