<div style="min-width: 200px;max-width: 500px;">
    <div class="content-head clearfix">
        <div 
             class="mainTitle">Eligibility</div>
    </div>
    <form [formGroup]="Form"
          style=" min-height: 100px; margin-top: 20px;"
          (ngSubmit)="onSubmitClick()">

        <div class="row">
            <div style="text-align: center"
                 class="col-sm-12">
                <div class="form-group mb-0">
                    <mat-form-field style="width: 100%">
                        <input matInput
                               formControlName="phone"
                               mask="99999999999"
                               maxlength="11"
                               type="text"
                               placeholder="Phone Number">
                        <mat-error *ngIf="getValue('phone')?.invalid && (getValue('phone')?.dirty || getValue('phone')?.touched)">Phone
                            is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-12"
                 style="text-align: right;">

                <button mat-raised-button
                style="margin-right: 4px;"
                        color="primary"
                        class="btn btn-clear"
                        [disabled]="isLoading"
                        type="button"
                        (click)="onCancelClick()">Cancel</button>

                <button mat-raised-button
                        color="primary"
                        class="btn btn-submit btn-primary"
                        [disabled]="isLoading"
                        type="button"
                        (click)="onSubmitClick()">Submit</button>
            </div>
        </div>
    </form>
</div>
