<div class="row">
	<app-loader [totalRecords]="ArrayCSVCount"
	            [completedRecords]="ArrayCSV.length"
	            [loaderMessage]="loaderMessage"></app-loader>
	<div style="width: fit-content;" class="col-sm-2">
		<span style="font-size: 19px;line-height: 36px;font-weight: 600;">
			<div fxLayout="row"
			     fxLayoutAlign="start center"
			     fxLayoutGap="10px">
				<button *ngIf="id != 'All'"
				        mat-icon-button
				        (click)="onLocationBack()"
				        color="accent">
					<img src="assets/images/actions/back.png"
					     alt="">
				</button>
				<span>SUBSCRIPTIONS</span>
			</div>
		</span>
		<strong>Total Subscriptions: {{subscriptionsCount}}</strong>
	</div>
  <div class="col-sm-5">
		<button  *ngIf="Roles?.role == '1'"  class="btn btn-primary round-elem"
		        style="background: red; border-color: red; margin-right: 4px;"
		        (click)="onCheckEligibilityComponent()">Check Eligibility
		</button>

		<button *ngIf="Roles?.role == '1'" class="btn btn-primary round-elem"
		        style="background: red; border-color: red; margin-right: 4px;"
		        [disabled]="Subscriptions.length == 0"
		        (click)="onexport()">Export CSV
		</button>
		<button  *ngIf="Roles?.role == '1'"  class="btn btn-primary round-elem"
		        style="background: red; border-color: red; margin-top: 4px;"
		        (click)="onSubscription()">Export Subscription Log
		</button>
	</div>
	<div class="col-sm-4"
	     style="text-align: right">
		<div class="form-group col-sm-5"
		     style="padding: 0 10px 0 0;">
			<select [(ngModel)]="filterby"
			        (change)="gerSubscriptionsList(1)"
			        class="form-control">
				<option disabled>Filter By</option>
				<option value="All">All</option>
				<option value="premier">Premier</option>
				<option value="ooredoo">Ooredoo</option>
				<option value="vodafone">Vodafone</option>
				<option value="code">Code</option>
				<option value="card">Card</option>
			</select>

		</div>
		<div class="form-group col-sm-7"
		     style="padding: 0;text-align: left;">
			<!-- <input type="text"
            placeholder="Search"
            class="form-control" />
             -->
			<div class="input-group">
        <span style="cursor: pointer;"
        (click)="gerSubscriptionsList(1)"
        class="input-group-addon">
    <i class="glyphicon glyphicon-search"></i>

  </span>
				<input autocomplete="false"
				       type="text"
				       maxlength="50"
				       [(ngModel)]="search"
				       (keyup)="onSearchSubscription()"
				       class="form-control"
				       placeholder="Search">
			</div>
		</div>
	</div>
</div>
<base-loader>
	<div class="data-table">
		<table class="table table-responsive table-striped"
		       style="width:100%; margin-top: 15px">
			<thead>
				<tr>
					<th class="weight-600">ID</th>
					<th class="weight-600">Name</th>
					<th *ngIf="Roles?.role != '2'" class="weight-600" class="weight-600">Email</th>
					<th class="weight-600">Subscription Type</th>
					<th *ngIf="Roles?.role != '2'"  class="weight-600">Phone #</th>
					<th class="weight-600">Type</th>
					<th class="weight-600">Savings</th>
					<th class="weight-600">REDEMPTIONS</th>
					<th class="weight-600">subscriptionStartDate</th>
					<th class="weight-600">subscriptionStartTime</th>
					<th class="weight-600">subscriptionExpiryDate</th>
					<th class="weight-600">subscriptionExpiryTime</th>
					<th class="weight-600">Status</th>
					<th *ngIf="Roles?.role != '3'" style="text-align: center">Actions</th>
					<!-- <th style="text-align: center; width: 200px;"
				    class="weight-600">Actions</th> -->
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let subscription of Subscriptions">
					<td>{{subscription.user_id}}</td>
					<td >{{subscription.name}}</td>
					<td *ngIf="Roles?.role != '2'" class="weight-600">{{subscription.email}}</td>
					<td>{{subscription.subscription_type}}</td>
					<td *ngIf="Roles?.role != '2'" class="weight-600">{{subscription.phone == null ? 'N/A' : subscription.phone}}</td>
					<td>
						<span *ngIf="subscription.network != 'code'">{{subscription.network}}</span>
						<span *ngIf="subscription.network == 'code'"
						      style="text-decoration: underline;"
						      (click)="onViewCode(subscription)">{{subscription?.accesscodes?.code}}</span>
					</td>
					<td>{{subscription.approx_saving == null ? 'N/A' : subscription.approx_saving}}</td>
					<td [title]="subscription.totalDealsUsed">{{subscription.totalDealsUsed == null ? 'N/A' :
						subscription.totalDealsUsed}}</td>
					<td>{{subscription.subscriptionStartDate}}</td>
					<td>{{subscription.subscriptionStartTime}}</td>
					<td>{{subscription.subscriptionExpiryDate}}</td>
					<td>{{subscription.subscriptionExpiryTime}}</td>
					<td>{{subscription.status == 0 ? 'Inactive' : 'Active'}}</td>

					<td  *ngIf="Roles?.role != '3'" style="text-align: center; max-width: 300px;">
						<!-- <i title="Subscription Logs"
						   (click)="onViewSubscriptionLogs(subscription)"
						   class="action-btn">
							<img width="18"
							     src="assets/images/actions/subscribe-log.png"
							     alt="">
						</i> -->
						<button style="min-width: 50px;background: white; margin-right:2px;"
						        mat-raised-button
						        title="Subscription Logs"
						        (click)="onViewSubscriptionLogs(subscription)"
						        color="accent">
                    <img width="18"
                    (click)="onViewSubscriptionLogs(subscription)"
							     src="assets/images/actions/subscribe-log.png"
							     alt="">
						</button>
						<button style="min-width: 50px;background: white; margin-left: 2px;"
						        mat-raised-button
						        title="SMS Logs"
						        (click)="onViewSMSLogs(subscription)"
						        color="accent"><img width="18"
							     src="assets/images/actions/subscribe-log.png"
							     alt="">
						</button>
						<button style="min-width: 50px; margin-left: 2px;"
						        mat-raised-button
						        [disabled]="subscription.status == 0 || subscription.network == 'code' || subscription.network == 'card'"
						        (click)="onChangeSub(subscription)"
						        color="accent">Unsubscribe
						</button>
					</td>

					<!-- <td style="text-align: center; width: 200px;">
					<i title="EDIT"
					   (click)="onEditSubscription(subscription)"
					   class="action-btn">
						<img  src="assets/images/actions/edit.png"
						     alt="">
					</i>
					<i title="Delete"
					   (click)="onDeleteSubscription(subscription)"
					   class="action-btn">
						<img src="assets/images/actions/delete.png"
						     alt="">
					</i>
				</td> -->
				</tr>
				<tr *ngIf="Subscriptions.length == 0">
					<td colspan="100"
					    style="text-align: center">No record found.</td>
				</tr>
			</tbody>
		</table>
	</div>
</base-loader>
<app-pagination *ngIf="Subscriptions.length > 0"
                (setPage)="setPage($event)"
                [perPage]="perPage"
                [totalPages]="totalPages"
                [currentPage]="currentPage"></app-pagination>
