<div class="row">
    <div class="col-sm-12">
        <span class="mainTitle">
            Outlets Tags
        </span>
    </div>
</div>

<div class="row" style="margin-top: 13px;">
    <div class="col-sm-6">
            <button fxFlex="180px" style="border-radius: 23px;" mat-raised-button color="accent" (click)="onSelectBrandorOutlets()">
                Tag Outlets
            </button>
            <button fxFlex="150px" class="no-background-btn" (click)="addTags()" >Add new tags</button>
    </div>
</div>

<!-- <div class="data-table tags_table select_tags">
    <div class="col-sm-12">
        <div class="col-sm-2" style="padding-left: 0; padding-right: 0"
            *ngFor="let category of data; let index = index">
            <table class="table table-responsive table-striped table-bordered  "
                style="width:100%; margin-top: 20px">
                <thead>
                    <tr>
                        <th>{{category.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of category['category_tags']">
                        <td>
                            {{item.tag}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->
<base-loader>
<div class="container-fluid data-table tags_table select_tags">
    <div class="row flex-row flex-nowrap">
        <div class="col-sm-2" style="padding-left: 0; padding-right: 0"
            *ngFor="let category of data; let index = index">
            <table class="table table-responsive table-striped table-bordered  "
                style="width:100%; margin-top: 20px; height: fit-content;">
                <thead>
                    <tr>
                        <th>{{category.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="color: #148F96;" *ngFor="let item of category['category_tags']">
                        <td>
                            {{item.tag}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div fxLayoutAlign="center center" class="multi_tag"
    style="line-height: 50px; background-color: #FBFBFB; margin-top: 10px;" *ngIf="data.length == 0">
    No record found.
</div>
</div>

</base-loader>

<!-- <div class="data-table tags_table">
    <table class="table table-responsive table-striped table-bordered "
           style="width:100%; margin-top: 20px">
        <thead>
            <tr>
                <th class="col-xs-2">Food & Drink</th>
                <th class="col-xs-2">Beauty & Health</th>
                <th class="col-xs-2">Fun & leisure</th>
                <th class="col-xs-2">retail & services</th>
                <th class="col-xs-2">cuisine</th>
                <th class="col-xs-2">attributes</th>
            </tr>
        </thead>
        <tbody *ngFor="let tags of data">

            <tr style="color: #148F96;" *ngFor="let item of tags" >
                <td class="col-xs-2">Mazhar</td>
                <td class="col-xs-2">Mazhar</td>
                <td class="col-xs-2">Mazhar</td>
                <td class="col-xs-2">Mazhar</td>
                <td class="col-xs-2">Mazhar</td>
                <td class="col-xs-2">Mazhar</td>
            </tr>
        </tbody>
    </table>
</div> -->

