<div class="row">
	<div class="col-sm-6">
		<button mat-icon-button
				(click)="onLocationBack()"
				color="accent">
			<img src="assets/images/actions/back.png"
				 alt="">
		</button>
		<span style="font-size: 19px;line-height: 36px;font-weight: 600;">
			PROMOTION
		</span>
	</div>
	<div class="col-sm-6"
		 style="text-align: right">
		<div class="form-group col-sm-3"
			 style="padding: 0 10px 0 0;">
		</div>
		<div class="form-group col-sm-9"
			 style="padding: 0;text-align: left;">
			<div class="input-group">
				<input autocomplete="false"
					   type="text"
					   maxlength="50"
					   [(ngModel)]="search"
					   class="form-control"
					   placeholder="Search">
				<span style="cursor: pointer;"
					  (click)="getPromotionList(1)"
					  class="input-group-addon">
					<i class="glyphicon glyphicon-search"></i>

				</span>
			</div>
		</div>
		<br>
		&nbsp;&nbsp;
		<!-- <button class="btn btn-primary round-elem"
		        style="background: red; border-color: red"
		        (click)="addNew1()">EDIT BY ORDER
		</button> -->
		<button class="btn btn-primary round-elem"
				style="background: red; border-color: red"
				(click)="addNew()">ADD NEW
		</button>
	</div>
</div>
<base-loader>
	<div class="data-table">
		<table class="table table-responsive table-striped"
			   style="width:100%; margin-top: 15px">
			<thead>
				<tr>
					<th style="width: 70px;">ID.</th>
					<th>NAME</th>
					<th>ARABIC NAME</th>
					<th>TYPE</th>
					<th>FROM DATE</th>
					<th>TO DATE</th>
					<th>FROM TIME</th>
					<th>TO TIME</th>
					<th>EXCLUSION STATUS</th>
					<!-- <th style="text-align: center;">ACTION</th> -->
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let code of Promotion">
					<td>{{code.id}}</td>
					<td>{{code.name}}</td>
					<td>{{code.name_ar}}</td>
					<td>{{code.type}}</td>
					<td>{{code.from_date}}</td>
					<td>{{code.to_date}}</td>
					<td>{{code.from_time}}</td>
					<td>{{code.to_time}}</td>
					<td>{{code.exclusion_status}}</td>


					<td style="text-align: center; width: 200px;">
						<button style="min-width: 50px;"
								mat-raised-button
								(click)="onEditPromotion(code)"
								color="accent">Edit
						</button>
					</td>


				</tr>
				<tr *ngIf="Promotion.length == 0">
					<td colspan="100"
						style="text-align: center">No record found.</td>
				</tr>
			</tbody>
		</table>

	</div>

	<app-pagination *ngIf="Promotion.length > 0"
					(setPage)="setPage($event)"
					[perPage]="perPage"
					[totalPages]="totalPages"
					[currentPage]="currentPage"></app-pagination>
</base-loader>