<div class="row">
	<div class="col-sm-6">
		<span style="font-size: 19px;line-height: 36px;font-weight: 600;">
			<div fxLayout="row"
				 fxLayoutAlign="start center"
				 fxLayoutGap="10px">
				<button mat-icon-button
						(click)="onLocationBack()"
						color="accent">
					<img src="assets/images/actions/back.png"
						 alt="">
				</button>
				<span>{{isEditing? 'EDIT': 'ADD'}} Collection </span>
			</div>
		</span>
	</div>

</div>

<form [formGroup]="Form"
	  (ngSubmit)="doSubmit()">
	<div style="margin-top: 20px"
		 fxLayout="row wrap"
		 fxLayoutAlign="space-between start"
		 >
		<div fxFlex="100">
			<div fxLayout="row wrap"
				 fxLayoutAlign="start start"
				 fxLayoutGap="10px"
				 >

				<div fxFlex.xl="32"
					 fxFlex.lg="48"
					 fxFlex.md="48">
					<div class="form-group mb-0">
						<mat-form-field style="width: 100%">
							<input matInput
								   formControlName="name"
								   type="text"
								   required
								   placeholder="Name">
							<mat-error
									   *ngIf="getValue('name')?.invalid && (getValue('name')?.dirty || getValue('name')?.touched)">
								Name
								is required</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="form-group mb-0">
					<mat-form-field style="width: 100%">
						<input matInput
							   formControlName="name_ar"
							   type="text"
							   required
							   dir="rtl"
							   lang="ar"
							   placeholder="Arabic Name">
						<mat-error
								   *ngIf="getValue('name_ar')?.invalid && (getValue('name_ar')?.dirty || getValue('name_ar')?.touched)">
							Arabic name
							is required</mat-error>
					</mat-form-field>
				</div>
				<div fxFlex.xl="32"
					 fxFlex.lg="48"
					 fxFlex.md="48">
					<div class="form-group mb-0">
						<mat-form-field style="width: 100%; margin-bottom: 10px">
							<mat-select placeholder="Categorie Id"
										required
										formControlName="category_id">
								<mat-option *ngFor="let item of Categories"
											[value]="item.id">
									{{item.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div fxFlex.xl="32"
					 fxFlex.lg="48"
					 fxFlex.md="48">
					<div class="form-group mb-0">
						<mat-form-field style="width: 100%; margin-bottom: 10px">

							<mat-select formControlName="for_delivery"
										placeholder="DELIVERY">
								<mat-option value="yes">YES</mat-option>
								<mat-option value="no">NO</mat-option>

							</mat-select>
							<mat-error
									   *ngIf="getValue('for_delivery')?.invalid && (getValue('for_delivery')?.dirty || getValue('for_delivery')?.touched)">
								DELIVERY  is
								required</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div fxFlex="25">
					<label style="width: 100%;">Select Image
					</label>
					<file-picker (onFileSelect)="onFileSelect($event)"
								 controlName="image"
								 [isIconHidden]="false"
								 [image]="getImage1('image')"
								 type="Custom"
								 [size]="{width: 172, height: 172}">
					</file-picker>
					<span style="float: right;font-size: 12px; color: #ff2c54"
						  *ngIf="errorMsgimage">{{errorMsgimage}}</span>
				</div>

			</div>
		</div>
	</div>


	<div class="row">
		<div style="margin-top: 20px"
			 class="col-sm-12">
			<button type="submit"
					*ngIf="!isEditing"
					[disabled]="Form.invalid || isLoading || isDiscountType"
					class="btn btn-primary round-elem"
					style="background: red; border-color: red">
				ADD COLLECTION
			</button>
			<button type="submit"
					*ngIf="isEditing"
					[disabled]="Form.invalid || isLoading || isDiscountType"
					class="btn btn-primary round-elem"
					style="background: red; border-color: red">
				UPDATE COLLECTION
			</button>
			<img *ngIf="isLoading"
				 class="loader-btn-image"
				 src="assets/images/view-loader.gif">
		</div>

	</div>
</form>
