<div class="row">
	<div style="width: fit-content;" class="col-sm-3">
		<span class="mainTitle" style="margin-left: 6px;">
			{{isMultiple == true ? 'Multiple Access Code' : 'Access Code'}} 
			<!-- {{AccessCodeHeading}} -->
		</span>
	</div>
  <div class="col-sm-3">
		&nbsp;&nbsp;
		<button class="btn btn-primary round-elem"
		        style="background: red; border-color: red"
		        (click)="addNew()">ADD NEW
		</button>
  </div>
	<div class="col-sm-6"
	     style="text-align: right;float:right">
		<div class="form-group col-sm-3"
		     style="padding: 0 10px 0 0;">
			<!-- <select class="form-control"
			        [(ngModel)]="appName"
			        (change)="onAppChange()">
				<option value="1">APP 1</option>
				<option value="2">APP 2</option>
			</select> -->
			<!-- <user-app-selector (onAppSelect)="onAppChange($event)"></user-app-selector> -->
		</div>
		<div class="form-group col-sm-9"
		     style="padding: 0;text-align: left;">
			<!-- <input type="text"
				  placeholder="Search"
				  class="form-control" />
				   -->
			<div class="input-group">
        <span style="cursor: pointer;"
        (click)="gerAccessCodesList(1)"
        class="input-group-addon">
    <i class="glyphicon glyphicon-search"></i>

  </span>
				<input autocomplete="false"
				       type="text"
				       maxlength="50"
				       [(ngModel)]="search"
				       (keyup)="onSearchAccessCode()"
				       class="form-control"
				       placeholder="Search">
			</div>
		</div>
		<!-- <button *ngIf="!isMultiple"
		        class="btn btn-primary round-elem"
		        style="background: red; border-color: red"
		        (click)="onSwitchCodes(true)">MULTIPLE ACCESS CODES
		</button>
		<button *ngIf="isMultiple"
		        class="btn btn-primary round-elem"
		        style="background: red; border-color: red"
		        (click)="onSwitchCodes(false)">ACCESS CODES
		</button> -->

	</div>
</div>
<base-loader>
	<div class="data-table" fxLayout="row">
		<table class="table table-responsive table-striped"
		       style="width:100%; margin-top: 15px;">
			<thead>
				<tr>
					<th fxFlex="10" >ID</th>
					<th fxFlex="13" >Title</th>
					<th fxFlex="10">Code</th>
					<th fxFlex="7">Days</th>
					<th fxFlex="20">Expiry date/time</th>
					<!-- <th>Redemptions</th> -->
					<th fxFlex="13">Redeemed by</th>
					<!-- <th>Multiple</th> -->
					<th fxFlex="5" style="text-align: center">Status</th>
					<!-- <th style="text-align: center">Update</th> -->
					<th fxFlex="22" style="text-align: center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let code of PromoCodes">
					<td fxFlex="10" fxLayoutAlign="none center">{{code.id}}</td>
					<td fxFlex="13" fxLayoutAlign="none center">{{code.title}}</td>
					<td fxFlex="10" fxLayoutAlign="none center">{{code.code}}</td>
					<td fxFlex="7" fxLayoutAlign="none center">{{code.days}}</td>
					<td fxFlex="20" fxLayoutAlign="none center">{{code.expiry_datetime}}</td>
					<!-- <td>{{code.redemptions}}</td> -->
					<td fxFlex="13" fxLayoutAlign="none center">{{code.total_redeemed}} out of {{code.total_redemptions}}</td>
					<!-- <td>{{code.multiple == 0 ? 'No' : 'Yes'}}</td> -->
					<!-- <td>{{code.status == 0 ? 'Inactive' : 'Active'}}</td> -->
					<td fxFlex="5" fxLayoutAlign="center center">
						<mat-slide-toggle (change)="onChangeAccessCode(code)"
						                  [(ngModel)]="code.slide"
						                  color="accent"></mat-slide-toggle>
					</td>
					<td fxFlex="22" fxLayoutAlign="center center">
						<!-- <i *ngIf="code.multiple == 1"
						   title="View Codes"
						   class="action-btn">
							<img
							     src="assets/images/actions/paper-plane@2x.png"
							     alt="">
						</i>
						<i style="cursor: not-allowed;"
						   *ngIf="code.multiple == 0"
						   class="action-btn">
							<img
							     src="assets/images/actions/paper-plane@2x.png"
							     alt="">
						</i> -->
						<button style="min-width: 80px; margin-right: 4px;"
						        mat-raised-button
						        (click)="onEditAccessCodes(code)"
						        color="accent">Edit
						</button>
						<button style="min-width: 120px;"
						        mat-raised-button
						        (click)="viewCodes(code)"
						        color="accent">View Details
						</button>					
						
					</td>
				</tr>
				<tr *ngIf="PromoCodes.length == 0">
					<td colspan="100"
					    style="text-align: center">No record found.</td>
				</tr>
			</tbody>
		</table>

	</div>

	<app-pagination *ngIf="PromoCodes.length > 0"
	                (setPage)="setPage($event)"
	                [perPage]="perPage"
	                [totalPages]="totalPages"
	                [currentPage]="currentPage"></app-pagination>
</base-loader>