<!-- <div class="row">
    <app-loader [totalRecords]="ArrayCSVCount"
                [completedRecords]="ArrayCSV.length"
                [loaderMessage]="loaderMessage"></app-loader>
    <div class="col-sm-6">
        <span style="font-size: 19px;line-height: 36px;font-weight: 600;">
            ALL CODES DETAIL
        </span>
    </div>

    <div class="col-sm-6"
         style="position: relative;">
        <button mat-dialog-close
                style="position: absolute;top: -20px;right: -5px;"
                mat-icon-button>
            <mat-icon>clear</mat-icon>
        </button>
        <br>
        <button class="btn btn-primary round-elem"
                style="background: red; border-color: red; float: right;"
                [disabled]="mAccessCodes.length == 0"
                (click)="onExportCSV()">Export CSV
        </button>
    </div>
</div> -->
<div  fxLayout="row" fxLayoutAlign="end none">
   
    <mat-icon mat-dialog-close style="border:none; cursor: pointer;  background-color: transparent; position:absolute; z-index: 10px;margin: -23px -22px 0 0;"
    fxLayoutAlign="center center">close</mat-icon>

</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row">
        <app-loader [totalRecords]="ArrayCSVCount" [completedRecords]="ArrayCSV.length"
            [loaderMessage]="loaderMessage"></app-loader>
        <span style="font-size: 19px;line-height: 36px;font-weight: 600;">
            MULTIPLE ACCESS CODES
        </span>
    </div>
    <button style="border: none;background-color: transparent; color: #148F96; font-weight: 600; font-size: 16px;"
    (click)="onExportCSV()" [disabled]="mAccessCodes.length == 0" >
        EXPORT CSV
    </button>
</div>

<div style="max-height: 60vh;overflow: auto;margin-top: 20px;"
     class="data-table" fxLayout="row">
    <!-- <base-loader> -->
    <!-- <div class="data-table"> -->
    <table class="table table-responsive table-striped"
           style="width:100%; margin-top: 15px">
        <thead>
            <tr>
                <th fxFlex="15">ID</th>
                <!-- <th>Title</th> -->
                <th fxFlex="15">Code</th>
                <th fxFlex="25">Redeemed by</th>
                <th fxFlex="23">Redeemed on</th>
                <!-- <th>Expiry date/time</th>
                <th>Days</th>
                <th>Multiple</th> -->
                <th fxFlex="22" style="text-align: center">Status</th>
                <!-- <th style="text-align: center">Update</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let code of mAccessCodes" [mat-dialog-close]="true" (click)="onViewSingleCode(code)">
                <td fxFlex="15" fxLayoutAlign="none center">{{code.id}}</td>
                <!-- <td>{{code.title}}</td> -->
                <td fxFlex="15" fxLayoutAlign="none center">{{code.code}}</td>
                <!-- <td>{{code.redemptions}}</td> -->
                <td fxFlex="25" fxLayoutAlign="none center">{{code.redeemed_by != '' ? code.redeemed_by : 'NA' }}</td>
                <td fxFlex="25" fxLayoutAlign="none center">{{code.redeemed_on != null ? code.redeemed_on : 'NA'}}</td>
                <!-- <td>{{code.expiry_datetime}}</td> -->
                <!-- <td>{{code.days}}</td>
                <td>{{code.multiple == 0 ? 'No' : 'Yes'}}</td>
                <td>{{code.status == 0 ? 'Inactive' : 'Active'}}</td> -->
                <td fxFlex="25" fxLayoutAlign="center center">
                    <mat-slide-toggle (change)="onChangemAccessCode(code)"
                    (click)="$event.stopPropagation()"
                                      [(ngModel)]="code.slide"
                                      color="accent"></mat-slide-toggle>
                </td>
            </tr>
            <tr *ngIf="mAccessCodes.length == 0">
                <td colspan="100"
                    style="text-align: center">No record found.</td>
            </tr>
        </tbody>
    </table>

    <!-- </div> -->


    <!-- </base-loader> -->
</div>
<app-pagination *ngIf="mAccessCodes.length > 0"
                (setPage)="setPage($event)"
                [perPage]="perPage"
                [totalPages]="totalPages"
                [currentPage]="currentPage"></app-pagination>