<div class="login-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-logo">
                    <img src="assets/images/logo.png">
                </div>

                <div class="wrapper-page">
                    <div class="row"
                         style="position: relative;">
                        <div style="text-align: center; margin-bottom: 5px;font-size: 18px;">
                            <span *ngIf="type == 'admin'">Reset Password</span>
                            <span *ngIf="type == 'user'">Reset Pin</span>
                        </div>
                        <ng-container *ngIf="type == 'admin'">
                            <form [formGroup]="Form"
                                  style=" min-height: 100px; margin-top: 20px;"
                                  (ngSubmit)="doSubmit()"
                                  novalidate>

                                <div style="text-align: center;font-size: 11px;margin-bottom: 10px;min-height: 10px;">
                                    <span class="text-pink"
                                          *ngIf="failureAlert">{{alertMsg}}</span>
                                    <ng-container *ngIf="showSuccess">
                                        <span >Password has been reset successfully.</span>
                                        <!-- ambigous check *ngIf='admin removed from span' -->
                                    </ng-container>
                                </div>

                                <div style="margin-top: 10px;"
                                     class="form-group">
                                    <mat-form-field style="width: 100%">
                                        <input matInput
                                               formControlName="password"
                                               type="password"
                                               required
                                               placeholder="Password">
                                        <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">Password
                                            is required</mat-error>
                                    </mat-form-field>
                                </div>

                                <div style="margin-top: 10px;"
                                     class="form-group">
                                    <mat-form-field style="width: 100%">
                                        <input matInput
                                               formControlName="confirm_password"
                                               type="password"
                                               required
                                               placeholder="Confirm Password">
                                        <mat-error *ngIf="password?.value != confirm_password?.value">Password and
                                            confirmation password do not match.</mat-error>
                                    </mat-form-field>
                                </div>

                                <button class="btn btn-primary round-elem"
                                        style="margin-top: 20px;background: red;width: 100px; border-color: red"
                                        type="submit"
                                        [disabled]="Form.invalid || password?.value != confirm_password?.value">
                                    Submit
                                </button>
                            </form>
                        </ng-container>
                        <ng-container *ngIf="type == 'user'">
                            <form [formGroup]="Form"
                                  style="margin-top: 20px;"
                                  (ngSubmit)="doSubmit()"
                                  novalidate>

                                <div style="text-align: center;font-size: 11px;margin-bottom: 10px;min-height: 10px;">
                                    <span class="text-pink"
                                          *ngIf="failureAlert">{{alertMsg}}</span>
                                    <ng-container *ngIf="showSuccess">
                                        <span>Pin has been reset successfully.</span>
                                    </ng-container>
                                </div>

                                <ng-container *ngIf="!showSuccess">
                                    <div style="margin-top: 10px;"
                                         class="form-group">
                                        <mat-form-field style="width: 100%">
                                            <input matInput
                                                   formControlName="password"
                                                   type="text"
                                                   mask="9999"
                                                   placeholder="Pin">
                                            <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">Pin
                                                is required</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div style="margin-top: 10px;"
                                         class="form-group">
                                        <mat-form-field style="width: 100%">
                                            <input matInput
                                                   formControlName="confirm_password"
                                                   type="text"
                                                   mask="9999"
                                                   placeholder="Confirm Pin">
                                            <mat-error *ngIf="password?.value != confirm_password?.value">Pin and
                                                confirmation pin do not match.</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <button class="btn btn-primary round-elem"
                                            style="margin-top: 20px;background: red;width: 100px; border-color: red"
                                            type="submit"
                                            [disabled]="Form.invalid || password?.value != confirm_password?.value">
                                        Submit
                                    </button>
                                </ng-container>
                                <!-- </div> -->
                            </form>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
