<div class="row">
    <div style="width:fit-content" class="col-sm-4">
		<span style="font-size: 19px;line-height: 36px;font-weight: 600;">
			PROMO IMAGE
        </span>
        <div>
            <strong>Total Campaign Codes: {{CampaignCount}}</strong>
        </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary round-elem"
              style="background: red; border-color: red"
              [disabled]='limit'
              (click)="addNew()">ADD NEW
      </button>
    </div>
    
    <div class="col-sm-6"
         style="text-align: right;float: right;">
        <div class="form-group col-sm-3"
             style="padding: 0 10px 0 0;">
            
        </div>
        <div class="form-group col-sm-9"
             style="padding: 0;text-align: left;">
            <!-- <input type="text"
                       placeholder="Search"
                       class="form-control" />
                        -->
            <div class="input-group">
              <span style="cursor: pointer;"
              (click)="getCampaign(1)"
              class="input-group-addon">
  <i class="glyphicon glyphicon-search"></i>

</span>
                <input autocomplete="false"
                       type="text"
                       maxlength="50"
                       class="form-control"
                       [(ngModel)]="search"
                       [disabled]='limit'
                       (keyup)="onSearchNotification()"
                       placeholder="Search campaign name">
            </div>
        </div>
    </div>
</div>
<base-loader>
    <div class="data-table">
        <table class="table table-responsive table-striped"
               style="width:100%; margin-top: 15px">
            <thead>
            <tr>
                <th style="width: 70px;">ID</th>
                <th style="text-align: center">Campaign Name</th>
                <th style="text-align: center">Start Date</th>
                <th style="text-align: center">End Date</th>
               
                <th style="text-align: center">Image</th>
                
              
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of Campaign"
                (click)="onViewDetails(item)"> 
                <td>{{item.id}}</td>
                <td style="text-align: center" >{{item.campaign_name}}</td>
                <td style="text-align: center" >{{item.start_date}}</td>
                <td style="text-align: center" >{{item.end_date}}</td>
                
                <td style="text-align: center" >{{item.image}}</td>
            
            </tr>
            <tr *ngIf="Campaign.length == 0">
                <td colspan="100"
                    style="text-align: center">No record found.
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <app-pagination *ngIf="Campaign.length > 0"
        (setPage)="setPage($event)"
        [perPage]="perPage"
        [totalPages]="totalPages"
        [currentPage]="currentPage"></app-pagination>
</base-loader>