

$primary_font_family: 'Manrope';
$color_1: #148F96;

.dropdown-item {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #cacaca;
    color: black;
}

.dropdown-menu {
    max-height: 215px;
    overflow: auto;
}

.menu-href {
    position: relative;
}

.menu-href>span {
    padding-left: 20px;
}

.side-image {
    position: absolute;
}
.child_label{
    font-size: 15px ;
    font-variation-settings: 'wght' 700;

}
.matmenu{
    margin: 10px 0 0 10px;
    height: 30px;
    border-radius: 50%;
}

.mat-menu-item{
    font-family: $primary_font_family;
    // font-variation-settings: 'wght' 600;
    width: 170px;
    &:hover{
        color: $color_1;
        .icon{
            color: $color_1;
        }
    }
    
}
.font_style{
    // font-family: $primary_font_family;
    font-variation-settings: 'wght' 800;
    // font-size: 15px;
}






$primary: #c0c0c0;
$primaryLight: #af1f71af;
$white: black;
$font_family_1: 'Glyphicons Halflings';
.sidebar-nav {
    padding-left: 0;
    li {
        display: block;
        a {
            display: block;
            font-size: 16px;
            padding: 15px 10px 15px 20px;
            color: #1f1f1f;
            cursor: pointer;
            font-family: $primary_font_family;
            font-variation-settings: 'wght' 900;
            &:focus {
                outline: none;
                text-decoration: none;
            }
            &:hover {
                // background: $primary;
                text-decoration: none;
                color: $color_1;
                img{
                    filter: invert(22%) sepia(72%) saturate(3569%) hue-rotate(169deg) brightness(107%) contrast(84%)
                }
            }
        }
        .nav-dropdown-trigger {
            position: relative;
            
        }
    }
    li.active {
        a {
            // background: $primary;
            text-decoration: none;
            color: $color_1;
            img{
                filter: invert(22%) sepia(72%) saturate(3569%) hue-rotate(169deg) brightness(107%) contrast(84%)
            }
        }
    }
    li.sub-nav {
        .nav-dropdown-trigger {
            &:after {
                position: absolute;
                right: 20px;
                top: 18px;
                font-size: 12px;
                // content: "\e080";
                content:"\e114";
                color: $white;
                font-family: $font_family_1;
                font-style: normal;
                font-weight: 400;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: $primary;
            }
            // &:hover {
            //     &:after {
            //         color: black;
            //     }
            // }
        }
        .nav-dropdown {
            display: none;
            padding-left: 0;
        }
        .nav-dropdown2 {
            display: none;
            padding-left: 0;
        }
    }
    li.sub-nav.active {
        .nav-dropdown-trigger {
            &:after {
                color: $primary !important;
            }
            &:hover {
                &:after {
                    color: $primary !important;
                }
            }
        }
        ul {
            li {
                a {
                    // background: $primaryLight !important;
                    text-decoration: none; // color: $white !important;
                }
            }
        }
        >a {
            color: $color_1 !important;
            // background: $primary !important;
        }
        >ul {
            >li.active {
                a {
                    color: $color_1!important;
                    // background: $primary !important
                }
                color: $color_1 !important;
                // background: $primary !important
            }
        }
    }
    li.sub-nav.opened {
        .nav-dropdown-trigger {
            &:after {
                content: "\e113";
                color: $primary;
            }
            color: $color_1;
            // background: $primary;
            img{
                filter: invert(22%) sepia(72%) saturate(3569%) hue-rotate(169deg) brightness(107%) contrast(84%)
            }
        }
        .nav-dropdown {
            display: block;
            li {
                a {
                    color: black;
                    background: white;
                    &:hover {
                        // background: $primary;
                        color: $color_1;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    li.sub-nav.opened2 {
        .nav-dropdown-trigger2 {
            &:after {
                content: "\e114";
                color: $primary;
            }
            color: $primary;
            // background: $primary;
        }
        .nav-dropdown2 {
            display: block;
            li {
                a {
                    color: black;
                    // background: $white;
                    &:hover {
                        // background: $primary;
                        color: $color_1;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}



  

  
